{% extends 'base.html.twig' %}

{% block title %}Welcome - Homepage{% endblock %}

{% block body %}
<!-- Includes navbar and title-->
{% include "navbar.html.twig" %}
{% include "title.html.twig" %}

<!--custom html-->
<section class="posts bg-primary ">
	<div class="posts-section">
		{% for postToDisplay in postsToDisplay %}
			{% if loop.last %}
			<div class="__post">
				<img class="__img" src="{{asset(postToDisplay.image)}}" alt="post-conception" width="700px">
				<h3>{{ postToDisplay.title }}</h3>
				<p class="text-white">{{ postToDisplay.text }}</p>
				<a href="{{ path('post', {'id': postToDisplay.id}) }}">read</a>
			</div>			
			
			{% else %}
			<div class="__post display-none-992px">
				<img class="__img" src="{{asset("img/post-conception.jpg")}}" alt="post-conception" width="700px">
				<h3>{{ postToDisplay.title }}</h3>
				<p class="text-white">{{ postToDisplay.text }}</p>
				<a href="{{ path('post', {'id': postToDisplay.id}) }}">read</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<a href="{{ path('posts_list') }}" type="button" class="btn btn-secondary">Posts list</a>
</section>
<section class="about bg-pinkish">
	<div class="about-section">
		<h2 class="text-green display-1404px">About me</h2>
		<img class="__img-about" src="{{asset("img/about-me.jpg")}}" alt="" class="__img" width="700px">
		<div class="__text">
			<h2 class="text-green display-none-1404px">About me</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio aliquid assumenda, suscipit accusantium dolorum, inventore id sit voluptates alias eaque soluta odit tempore beatae magni illo dolorem numquam, aliquam exercitationem ullam? Numquam architecto nihil adipisci possimus ipsam, doloribus hic doloremque neque ducimus itaque eos, error quo inventore. Error nemo temporibus voluptatem quia corporis excepturi suscipit debitis non, iste velit ab! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
			<div class="__links">
				<div class="__linkedIn">
					<img class="__img-logo" src="{{asset("img/linkedin.png")}}" alt="" width="70px">
					<a href="https://linkedin.com/in/dhery-pa">linkedin.com/in/dhery-pa</a>
				</div>
				<div class="__facebook">
					<img class="__img-logo" src="{{asset("img/linkedin.png")}}" alt="" width="70px">
					<a href="https://linkedin.com/in/dhery-pa">linkedin.com/in/dhery-pa</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer-->
{% include "footer.html.twig" %}
{% endblock %}
