{% extends 'base.html.twig' %}

{% block title %}Welcome - Homepage{% endblock %}

{% block body %}
<!-- Includes navbar and title-->
{% include "navbar.html.twig" %}
{% include "title.html.twig" %}


<!--custom html-->
<section class="posts bg-primary ">
	<div class="posts-section">
		{% for postToDisplay in postsToDisplay %}
			{% if loop.last %}
			<div class="__post">
				<img class="__img" src="{{asset('uploads/posts/' ~ postToDisplay.image)}}" alt="post-conception" width="700px">
				<h3>{{ postToDisplay.title }}</h3>
				<p class="text-white">{{ postToDisplay.text }}</p>
				<a href="{{ path('post', {'id': postToDisplay.id}) }}">read</a>
			</div>			
			
			{% else %}
			<div class="__post display-none-992px">
				<img class="__img" src="{{asset('uploads/posts/' ~ postToDisplay.image)}}" alt="post-conception" width="700px">
				<h3>{{ postToDisplay.title }}</h3>
				<p class="text-white">{{ postToDisplay.text }}</p>
				<a href="{{ path('post', {'id': postToDisplay.id}) }}">read</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<a href="{{ path('posts_list') }}" type="button" class="btn btn-secondary">Posts list</a>
</section>
<section class="about bg-pinkish">
	<div class="about-section">
		<h2 class="text-green display-1404px">About me</h2>
		<img class="__img-about" src="{{asset("img/about-me.jpg")}}" alt="" class="__img" width="700px">
		<div class="__text">
			<h2 class="text-green display-none-1404px">About me</h2>
			<p>{{ user.about }}</p>
			<div class="__links">
				<div class="__linkedIn">
					<img class="__img-logo" src="{{asset("img/linkedin.png")}}" alt="" width="70px">
					<a href="{{ user.socialLink1 }}">linkedin.com/in/dhery-pa</a>
				</div>
				<div class="__facebook">
					<img class="__img-logo" src="{{asset("img/github.png")}}" alt="" width="70px">
					<a href="{{ user.socialLink2 }}">github.com/ZK9XW3</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer-->
{% include "footer.html.twig" %}
{% endblock %}
