{% extends 'base.html.twig' %}

{% block title %}Welcome - Homepage{% endblock %}

{% block body %}
<!-- Includes navbar and title-->
{% include "navbar.html.twig" %}
{% include "title.html.twig" %}

<!--custom html-->
<section class="bg-primary articles">
	<div class="articles-section">
		<div class="__article">
			<img class="__img" src="{{asset("img/article-conception.jpg")}}" alt="article-conception" width="700px">
			<h3>Article title</h3>
			<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, consectetur tempora, numquam deleniti vel saepe quos est facere quas eos sed voluptate, harum a! Magni, maxime alias! Aperiam beatae obcaecati facere eligendi aliquam aut doloribus assumenda est, impedit maxime laudantium eum a accusamus quod illum molestiae consectetur temporibus qui eos.</p>
			<a href="http://">read</a>
		</div>
		<div class="__article display-none-992px">
			<img class="__img" src="{{asset("img/article-conception.jpg")}}" alt="article-conception" width="700px">
			<h3>Article title</h3>
			<p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quas aperiam ex delectus vero asperiores sapiente, at magni nobis suscipit, veniam, maxime eveniet iste. Eos rem maiores at soluta praesentium!</p>
			<a href="http://">read</a>
		</div>
		<div class="__article display-none-992px">
			<img class="__img" src="{{asset("img/article-conception.jpg")}}" alt="article-conception" width="700px">
			<h3>Article title</h3>
			<p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, nemo!</p>
			<a href="http://">read</a>
		</div>
	</div>
	<button type="button" class="btn btn-secondary">All Articles</button>c
</section>
<section class="bg-pinkish about">
	<div class="about-section">
		<h2 class="text-green display-1404px">About me</h2>
		<img class="__img-about" src="{{asset("img/about-me.jpg")}}" alt="" class="__img" width="700px">
		<div class="__text">
			<h2 class="text-green display-none-1404px">About me</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio aliquid assumenda, suscipit accusantium dolorum, inventore id sit voluptates alias eaque soluta odit tempore beatae magni illo dolorem numquam, aliquam exercitationem ullam? Numquam architecto nihil adipisci possimus ipsam, doloribus hic doloremque neque ducimus itaque eos, error quo inventore. Error nemo temporibus voluptatem quia corporis excepturi suscipit debitis non, iste velit ab! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
			<div class="__links">
				<div class="__linkedIn">
					<img class="__img-logo" src="{{asset("img/linkedin.png")}}" alt="" width="70px">
					<a href="https://linkedin.com/in/dhery-pa">linkedin.com/in/dhery-pa</a>
				</div>
				<div class="__facebook">
					<img class="__img-logo" src="{{asset("img/linkedin.png")}}" alt="" width="70px">
					<a href="https://linkedin.com/in/dhery-pa">linkedin.com/in/dhery-pa</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
