{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
{% include "title.html.twig" %}

<!-- CUSTOM HTML-->
<!-- section.post-content>div.__post-text>h2+p.__paragraph^img.__post-img -->
<section class="post-content bg-primary">
    <div class="__post-text">
        <h2>{{ post.title }}</h2>
        <p class="__paragraph text-white">{{ post.text }}</p>
        <p class="__date text-white">Published on : <time datetime="{{ post.createdAt|date('Y-m-d') }}">{{ post.createdAt|date('Y-m-d') }}</time></p>
    </div>
    <div class="__post-img">
        <img src="{{asset(post.image)}}" alt="" class="__img" width="600px">
    </div>
</section>

{% set buttonSection = {'value': 'Back to list', 'endpoint': '/posts'} %}
{{ include ('button-section.html.twig') }}
{% include "footer.html.twig" %}
{% endblock %}
